<form method="post" action="{{ path('proposal_delete', {'id': proposal.id}) }}" onsubmit="return confirm('{{'confirm_delete_proposal' | trans}}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ proposal.id) }}">
    <button class="btn btn-danger mt-4" data-toggle="tooltip" title="{{'cannot_be_undone' | trans}}">{{'delete' | trans}}</button>
</form>
