<form method="post" action="{{ path('user_reset_password', {'id': user.id}) }}" onsubmit="return confirm('{{'confirm_reset_password' | trans}}');">
    <input type="hidden" name="_token" value="{{ csrf_token('reset_password' ~ user.id) }}">
    <div class="text-center">
        <button class="btn btn-danger mt-4" data-toggle="tooltip" title="{{'default_value_is_username' | trans}}">{{'reset_password' | trans}}</button>
    </div>
</form>