<form method="post" action="{{ path('user_reset_password', {'id': user.id}) }}" onsubmit="return confirm('{{'Êtes-vous sûr de vouloir réinitialiser le mot de passe de cet utilisateur ?' | trans}}');">
    <input type="hidden" name="_token" value="{{ csrf_token('reset_password' ~ user.id) }}">
    <div class="text-center">
        <button class="btn btn-danger mt-4" data-toggle="tooltip" title="{{'La valeur par défaut est le nom d\'utilisateur' | trans}}">{{'Réinitialiser le mot de passe' | trans}}</button>
    </div>
</form>