{% extends 'base.html.twig' %}

{% block title %}{{'Désintégration' | trans}} - {{'Ajouter un utilisateur' | trans}}{% endblock %}

{% block body %}
    <div class="row mt-4">
        <div class="col-6 mx-auto">
            <div class="card shadow bg-dark p-4">
                <div class="card-title">
                    <h1 class="text-center">{{'Ajouter un utilisateur' | trans}}</h1>
                </div>
                <div class="card-body">
                    {{ include('proposal/_form.html.twig', {'button_type': 'btn-success', 'button_label': 'Valider' | trans}) }}

                    <div class="text-center mt-4">
                        <a href="{{ path('user_index') }}"><button class="btn btn-primary">{{'Retour à la liste' | trans}}</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
